@font-face {
font-family: 'NATS';
src: url('assets/fonts/NATS/NATS.woff') format('woff');
font-weight: normal;
font-style: normal;
}

:root {
  --bleu-fonce: #1C2F66;
  --bleu-ciel: #3e5fbf;
  --rouge: #cc0102;
}

body {
    background: #F8F8F8F8;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav {
    font-family: 'NATS';
    color: var(--bleu-fonce);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: 3px solid var(--rouge);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left img {
    width: 100px;
    height: 100px;
}

.right {
    display: flex;
    align-items: center;
    gap: 100px;
    list-style: none;
    margin: 0;
    padding-right: 3em;
}

.right li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.right li img {
    width: 28px;
    height: 28px;
}

article{
    width: 150vh;
    height: 10px;
    filter: drop-shadow(rgba(0, 0, 0,0.25) 0px 5px 20px);
    display: flex;
    margin-top: 1000px;
}

svg{
    background-color: white;
    padding: 50px;
    width: 900px;
    height: 700px;
    padding-left: 100px;
    border-radius: 30px;
    padding-left: 200px;
    align-items: center;
    justify-content: center;
}

path {
    fill: var(--bleu-ciel);
    stroke: #ffffff;
    stroke-width: 1.5;
    cursor: pointer;
    transition: all 0.3s ease;
}

path:hover {
    fill: var(--rouge);
    stroke: #ffffff;
    stroke-width: 2.5;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
}

.popup:target {
  display: flex;
}

.popup-content {
    border: 3px solid black;
    background: #fff;
    color: black;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

.close {
    display: inline-block;
    margin-top: 20px;
    background: #222;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
}
.close:hover {
    background: #444;
}

#texte-carte{
    width: 150px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 3px solid var(--bleu-fonce);
    color: var(--bleu-fonce);
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    position: fixed;
    left: 1em;
    top: 20em;
}

#texte-carte img{
    width: 70px;
    height: 70px;
}