@font-face {
    font-family: 'NATS';
    src: url('assets/fonts/NATS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BEBAS';
    src: url('assets/fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bleu-fonce: #1C2F66;
    --bleu-deep: #1D3060;
    --bleu: #0A3D91;
    --bleu-ciel: #3e5fbf;
    --rouge-fonce: #BF0606;
    --rouge-deep:#A41015;
    --rouge: #cc0102;
    --background-gradiant: linear-gradient(180deg, #f8f9fa 0%, #f0f0ff 50%);


}

body {
    background: #F8F9FA;
    background: var(--background-gradiant);
    align-items: center;
    justify-content: center;
    margin: 0;
}

nav {
    font-family: 'NATS';
    color: var(--bleu-fonce);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: 3px solid var(--rouge);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    justify-content: center;
    height: 50px;
    margin-right: 50px;
    padding-right: 20em;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 100px;
    height: 100px;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    margin: 0;
    padding-right: 3em;
    list-style: none;
}

.left a {
    text-decoration: none;
    color: #1C2F66;
}

.right a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #1C2F66;
}

.right a img {
    width: 28px;
    height: 28px;
}

#fullscreen_las-vegas {
    width: 99.2vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #1C2F66;
}

#fullscreen_las-vegas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    z-index: 0;
    filter: blur(3px) brightness(40%);
}

#fullscreen_las-vegas h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'BEBAS';
    font-size: 110px;
    z-index: 10;
    text-align: center;
    width: 700px;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

article {
    height: 10px;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    display: flex;
    margin-top: 1000px;
}

svg {
    background-color: white;
    padding: 50px;
    width: 900px;
    height: 700px;
    padding-left: 100px;
    border-radius: 30px;
    padding-left: 200px;
    align-items: center;
    justify-content: center;
}

path {
    fill: var(--bleu-ciel);
    stroke: #ffffff;
    stroke-width: 1.5;
    cursor: pointer;
    transition: all 0.3s ease;
}

path:hover {
    fill: var(--rouge);
    stroke: #ffffff;
    stroke-width: 2.5;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
}

.popup:target {
    display: flex;
}

.popup-content {
    border: 3px solid black;
    background: #fff;
    color: black;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

.close {
    display: inline-block;
    margin-top: 20px;
    background: #222;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
}

.close:hover {
    background: #444;
}

#texte-carte {
    width: 150px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 3px solid var(--bleu-fonce);
    color: var(--bleu-fonce);
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    position: fixed;
    left: 1em;
    top: 20em;
}

#texte-carte img {
    width: 70px;
    height: 70px;
}

/* CSS - oeuvres.html */

.main-oeuvres header {
    background-color: var(--bleu-ciel);
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 5em;
    padding: 2em;
}

.main-oeuvres header h1 {
    color: white;
    font-family: 'BEBAS';
    font-size: 80px;
    text-align: center;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

.main-oeuvres section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em 2em;

}

.main-oeuvres section div {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 20%;
    background-color: #1C2F66;
}

.main-oeuvres section div img {
    width: 100%;
    height: 50%;
    max-width: 500px;
    max-height: 300px;
}