@font-face {
    font-family: 'NATS';
    src: url('assets/fonts/NATS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BEBAS';
    src: url('assets/fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FREDOKA';
    src: url('assets/fonts/fredoka.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Caveat Regular'), url('assets/fonts/Caveat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Alexandria Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Alexandria Regular'), url('assets/fonts/Alexandria.woff') format('woff');
}

:root {
    --bleu-fonce: #1C2F66;
    --bleu-deep: #1D3060;
    --bleu: #0A3D91;
    --bleu-ciel: #3e5fbf;
    --rouge-fonce: #BF0606;
    --rouge-deep: #A41015;
    --rouge: #cc0102;
    --white: #fff;
    --background-gradient: linear-gradient(180deg, #f8f9fa 0%, #f0f0ff 50%);
    --border-radius-bloc: 15px;
    --font-family-fredoka: 'FREDOKA', Arial, Helvetica, sans-serif;
    --font-family-nats: 'NATS', Arial, Helvetica, sans-serif;
    --font-family-alexandria:'Alexandria Regular', Arial, Helvetica, sans-serif;
    --drop-shadow-0-25:drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    --drop-shadow-0-50:drop-shadow(rgba(0, 0, 0, 0.5) 0px 5px 20px);
}
body {
    background: #F8F9FA;
    background: var(--background-gradient);
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

body>main>section {
    margin-left: auto;
    margin-right: auto;
}
/*
body>main {
    margin-left: auto;
    margin-right: auto;
}*/

p {
    font-family: var(--font-family-fredoka);
}

/* ======== HEADER / NAV =======*/
/*
original : Titouan Moquet 
refonte et menu déroulant : Bastien Aulney*/
header {
    height: 60px;
}

header nav {
    font-family: 'NATS';
    color: var(--bleu-fonce);
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 60px;
    background: var(--white);
    border-bottom: 2px solid var(--rouge);
    display: flex;
    align-items: center;
    font-size: 40px;
}

header nav ul {
    display: inline-block;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bleu-fonce);
}

header nav .left img {
    width: 80px;
    height: 80px;
}

header nav .right img {
    width: 28px;
    height: 28px;
}

header nav ul li.right:first-of-type {
    margin-left: auto;
}

header nav .right {
    float: right;
    margin: 0 30px 0 0;
}

header nav .left {
    float: left;
}

header {
    height: 60px;
}

header nav {
    font-family: 'NATS';
    color: var(--bleu-fonce);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--white);
    border-bottom: 2px solid var(--rouge);
    display: flex;
    align-items: center;
    font-size: 40px;
}

header nav ul {
    display: inline-block;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bleu-fonce);
    transition: 0.5s;
}

header nav .left img {
    width: 80px;
    height: 80px;
}

header nav .right img {
    width: 28px;
    height: 28px;
}

header nav ul li.right:first-of-type {
    margin-left: auto;
}

header nav .right {
    float: right;
    margin: 0 30px 0 0;
}

header nav .left {
    float: left;
}

header nav ul li a:hover {
    color: #BF0606;
}


/* Sous-menu */
.sous-menu {
    gap: 5px;
    position: absolute;
    top: 100%;
    right: 0;
    background: none;
    display: none;
    flex-direction: column;
    width: 30%;
    border-radius: 20px;
    padding: 5px 0;
    z-index: 100;
    justify-content: center;
    font-size: 100%;
}

nav ul li:hover .sous-menu {
    display: flex;
}

.sous-menu li {
    width: 100%;
}

.sous-menu li a {
    padding: 10px 15px;
    background-color: white;
    border: 2px solid var(--bleu-fonce);
    width: 100%;
}

.sous-menu li a:hover {
    background: #ff0000;
    color: var(--white);
}

/* ======== FOOTER ========*/
/*

original : Bastien Aulney
refonte : Titouan Moquet 

*/

footer {
    color: var(--white);
    font-family: var(--font-family-alexandria);
}


footer>div:first-child {
    background-color: var(--bleu-ciel);
    padding: 20px;
}

footer>div:nth-child(2) {
    background-color: var(--bleu-ciel);
    text-align: center;
    font-family: var(--font-family-fredoka);
    font-size: 1.2em;
    padding: 20px;
}

footer>div:first-child h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

footer>div:first-child>div {
    display: flex;
    justify-content: space-around;
}

footer>div:first-child>div section {
    width: 33%;
    text-align: center;
}

footer>div:first-child>div section h2 {
    font-size: 1.5em;
    margin-top: 16px;
}

footer>div:first-child>div section:nth-child(2) {
    border-right: 3px solid white;
    border-left: 3px solid white;

}

footer>div:last-of-type {
    background-color: var(--bleu-fonce);
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer>div:last-of-type p {
    margin: 0;
    font-weight: bold;
    padding: 0;
    align-self: center;
}

footer a {
    color: white;
    transition: all 0.5s;
}

footer a:hover {
    color: var(--rouge);
}

footer>div:last-of-type a {
    align-self: center;
    margin: 0;
    padding: 0;
    width: auto;
}

footer svg {
    width: 35px;
    margin-left: 10px;
}


/* ======== aside credits ========*/
.popup-credit {
    background-color: #fff;
    position: fixed;
    right: -170px;
    bottom: 40px;
    transition: 0.3s;
    padding: 15px 15px 15px 10px;
    width: 190px;
    text-align: end;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    border-color: #696969;
    border-width: 2px;
    border-style: solid;
}

.popup-credit p {
    margin: 0;
    font-size: 18px;
    margin-left: -4px;
}

.popup-credit svg {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

.popup-credit:hover {
    right: -5px;

}

/*=== HR ===*/
hr {
    height: 4px;
    background-color: var(--bleu);
    width: 90%;
    margin: 2% auto 0 auto;
    border-radius: 10px;
    border-style: none;
}



/* ======== CGU & PDC ========*/
#gpu-and-pdc {
    width: 60%;
}

#gpu-and-pdc h2,
#gpu-and-pdc h3 {
    font-family: var(--font-family-fredoka);
}

#gpu-and-pdc>div {
    border-radius: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    margin: 30px 0;
    background-color: white;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

#gpu-and-pdc>div>p:last-child {
    text-align: center;
}

#gpu-and-pdc h2 {
    font-family: 'Alexandria Regular';
    font-size: 30px;
    text-align: center;
    background-color: white;
}

/* ========  ========*/