@font-face {
    font-family: 'NATS';
    src: url('assets/fonts/NATS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BEBAS';
    src: url('assets/fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FREDOKA';
    src: url('assets/fonts/fredoka.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'NATS Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NATS Regular'), url('assets/fonts/NATS-Regular.woff') format('woff');
}*/

@font-face {
    font-family: 'Caveat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Caveat Regular'), url('assets/fonts/Caveat-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Caveat Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Caveat Bold'), url('assets/fonts/Caveat-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Alexandria Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Alexandria Regular'), url('assets/fonts/Alexandria.woff') format('woff');
}

:root {
    --bleu-fonce: #1C2F66;
    --bleu-deep: #1D3060;
    --bleu: #0A3D91;
    --bleu-ciel: #3e5fbf;
    --rouge-fonce: #BF0606;
    --rouge-deep: #A41015;
    --rouge: #cc0102;
    --background-gradient: linear-gradient(180deg, #f8f9fa 0%, #f0f0ff 50%);
    --border-radius-bloc: 15px;
}

body {
    background: #F8F9FA;
    background: var(--background-gradient);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



header {
    height: 60px;
}

header nav {
    font-family: 'NATS';
    color: var(--bleu-fonce);
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 2px solid var(--rouge);
    display: flex;
    align-items: center;
    font-size: 40px;
}

header nav ul {
    display: inline-block;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bleu-fonce);
}

header nav .left img {
    width: 80px;
    height: 80px;
}

header nav .right img {
    width: 28px;
    height: 28px;
}

header nav ul li.right:first-of-type {
    margin-left: auto;
}

header nav .right {
    float: right;
    margin: 0 30px 0 0;
}

header nav .left {
    float: left;
}

header {
    height: 60px;
}

header nav {
    font-family: 'NATS';
    color: var(--bleu-fonce);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 2px solid var(--rouge);
    display: flex;
    align-items: center;
    font-size: 40px;
}

header nav ul {
    display: inline-block;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bleu-fonce);
    transition: 0.5s;
}

header nav .left img {
    width: 80px;
    height: 80px;
}

header nav .right img {
    width: 28px;
    height: 28px;
}

header nav ul li.right:first-of-type {
    margin-left: auto;
}

header nav .right {
    float: right;
    margin: 0 30px 0 0;
}

header nav .left {
    float: left;
}

header nav ul li a:hover{
    color: #BF0606;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 280px;
    color: white;
    font-family: 'NATS';
}

.haut-footer {
    background-color: var(--bleu-ciel);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.haut-footer h1 {
    font-size: 36px;
}

.haut-footer h2 {
    font-size: 32px;
}

.haut-footer .contact {
    display: flex;
}

.haut-footer h3 {
    font-size: 20px;
}

.bas-footer {
    background-color: var(--bleu-fonce);
    height: 70px;
    display: flex;
    font-size: 10px;
    justify-content: center;
}

.contact {
    width: 90%;
}

.contact-email,
.contact-tel,
.contact-adr {
    height: 10em;
    text-align: center;
}

.contact-email {
    border-right: 3px solid white;
    width: 40%;
}

.contact-tel {
    border-right: 3px solid white;
    width: 40%;
}

.contact-adr {
    width: 40%;
}