#fullscreen_las-vegas {
    width: 99.2vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #1C2F66;
}

#fullscreen_las-vegas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    z-index: 0;
    filter: blur(3px) brightness(40%);
}

#fullscreen_las-vegas h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'BEBAS';
    font-size: 110px;
    z-index: 10;
    text-align: center;
    width: 700px;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

.carte {
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    display: flex;
    margin: 50px;
}

svg {
    background-color: white;
    padding: 50px;
    width: 1400px;
    height: 680px;
    padding-left: 100px;
    border-radius: 30px;
    padding-left: 200px;
    align-items: center;
    justify-content: center;
}

path {
    fill: var(--bleu-ciel);
    stroke: #ffffff;
    stroke-width: 1.5;
    cursor: pointer;
    transition: all 0.3s ease;
}

path:hover {
    fill: var(--rouge);
    stroke: #ffffff;
    stroke-width: 2.5;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
}

.popup:target {
    display: flex;
}

.popup-content {
    border: 3px solid black;
    background: #fff;
    color: black;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

.close {
    display: inline-block;
    margin-top: 20px;
    background: #222;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
}

.close:hover {
    background: #444;
}

#texte-carte {
    width: 200px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: 3px solid var(--bleu-fonce);
    color: var(--bleu-fonce);
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    position: fixed;
    left: 1em;
    top: 20em;
    font-family: 'FREDOKA';
}

#texte-carte img {
    width: 70px;
    height: 70px;
}

.usa-presentation{
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    display: flex;
    background-color: white;
    width: 1600px;
    height: 750px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;  
    margin: 50px;
}

#usa-title , #article-title h1{
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    background-color: #ffffff;
    height: 120px;
    width: 1000px;
    border-radius: 30px;
    text-align: center;
}

#usa-title h1 , #article-title h1{
    font-size: 55px;
    color: var(--bleu-fonce);
    margin:0;
    font-family: 'NATS';
}

#usa-all-presentation{
    display: flex;
    padding:50px;
    width: 1450px;
    justify-content: space-between;
    font-family: 'FREDOKA';
}

#usa-presentation{
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    display: flex;
    background-color: white;
    width:680px;
    height: 400px;
    border-radius: 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#right-presentation{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    justify-content: space-around;
    text-align: center;
    width: 50px;
    width:680px;
    align-items: center;
}

#right-presentation-1,#right-presentation-2,#right-presentation-3{
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    height: 30%;
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
}

#presentation-usa-tout{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#right-presentation-1 h3,#right-presentation-2 h3,#right-presentation-3 h3{
    margin: 30px;
}

.article-recent{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 680px;

}

#article-1 , #article-2 , #article-3 {
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    background-color: #ffffff;
    height: 120px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#article-1 img, #article-2 img, #article-3 img{
    width: 170px;
    height: 80px;
    border-radius: 10px;
    margin-left: 20px;
}

#article-1 div, #article-2 div, #article-3 div{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'FREDOKA';
    padding-left: 20px;
}

#article-1 div h3, #article-2 div h3, #article-3 div h3{
    font-weight: 100;
    font-size: 22px;
    margin: 0;
}

#article-1 div h1, #article-2 div h1, #article-3 div h1{
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

#article-1 div h2, #article-2 div h2, #article-3 div h2{
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}    