#cgu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

#cgu-container {
    border-radius: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    margin: 30px 0;
    background-color: white;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    font-family: 'FREDOKA';
    width: 100%;
    justify-content: center;
    height: 120vh;
    justify-content: space-evenly;
}

#cgu-end {
    text-align: center;
}

#cgu-container h2 {
    font-family: 'Alexandria Regular';
    font-size: 30px;
    text-align: center;
    background-color: white;
}

#cgu-container :nth-child(2) {
    text-align: center;
}