#gpu-and-pdc{
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;*/
    width: 60%;
}

#gpu-and-pdc>div{
    border-radius: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 20px);
    margin: 30px 0;
    background-color: white;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    font-family: 'FREDOKA';
    /*
    width: 100%;
    justify-content: center;
    height: 120vh;
    justify-content: space-evenly;*/
}

#gpu-and-pdc>div>p:last-child{
    text-align: center;
}

#gpu-and-pdc h2 {
    font-family: 'Alexandria Regular';
    font-size: 30px;
    text-align: center;
    background-color: white;
}
