.main-fg {
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-fg header:has(h1) {
    background-image: url(/assets/images/forrest-gump/fg-cours.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 40vh;
    margin: 0;
    padding-top: 30%;
}

.main-fg header:has(h1) div {
    text-align: center;
}

.main-fg header:has(h1) img {
    object-fit: cover;
}

.main-fg header:has(h1) div h1 {
    color: var(--white);
    font-family: var(--font-family-bedas);
    font-size: 80px;
    letter-spacing: 0.1rem;
    font-weight: 400;

    margin: 0;
    padding: 0;
}

.main-fg header:has(h1) div h3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--font-family-bedas);
    font-size: 20px;
    letter-spacing: 0.05rem;
    font-weight: 400;

    margin: 0;
    padding: 0;
}

.main-fg section {
    width: 90%;
    margin: 4em auto;
    padding: 2em;

    background-color: var(--white);
    border-radius: var(--border-radius-bloc);
    box-shadow: var(--drop-shadow-0-25);

    box-sizing: border-box;
}

.main-fg section:nth-child(2) {
    display: flex;
    align-items: flex-start;

    gap: 1em;
}

.main-fg section:nth-child(2) div {
    
    display: flex;
    flex-direction: column;
    align-self: stretch;

    flex: 1;
}

.main-fg section:nth-child(2) p {
    text-align: left;

    font-family: var(--font-family-fredoka);
    font-weight: 100;

    margin: 0;
    padding-left: 1.5em;

    flex: 1;
    display: flex;
    align-items: center;
}

.main-fg section:nth-child(2) img {
    width: 30%;

    align-self: center;
    object-fit: cover;
}

.main-fg section h2 {
    text-align: left;
    color: var(--bleu);
    text-transform: uppercase;
    font-family: var(--font-family-nats);
    font-size: 2.5em;
    font-weight: 50;

    margin: 0;
    padding: 0;

    position: relative;
    margin-left: 1em;
}

.main-fg section h2::before {
    background-color: var(--rouge-fonce);
    content: "";

    width: 10px;
    height: 40px;

    position: absolute;

    left: -0.5em;
    top: 50%;
    transform: translateY(-50%);
}


.main-fg section:nth-child(3) {
    background: none;
    box-shadow: none;

    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;

    gap: 2em;

    width: 90%;
    margin: 4em auto;
}

.main-fg section:nth-child(3) > div:first-child {
    box-sizing: border-box;

    padding: 2em;
    flex: 1 1 30%;

    background-color: var(--white);
    border-radius: var(--border-radius-bloc);
    box-shadow: var(--drop-shadow-0-25);

    text-align: left;
    font-family: var(--font-family-fredoka);
    font-weight: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.5em;
}

.main-fg section:nth-child(3) > div:first-child cite {
    color: #8C8C8C;
}

.main-fg section:nth-child(3) > div:first-child q {
    font-size: 1.1em;
}

.main-fg section:nth-child(3) > div:last-child {
    display: flex;
    flex-direction: column;

    flex: 2 1 60%;
    gap: 1em;
}

.main-fg section:nth-child(3) > div:last-child > div {
    box-sizing: border-box;

    padding: 1.5em 2em;
    width: 100%;
    background-color: var(--white);
    border-radius: var(--border-radius-bloc);

    box-shadow: var(--drop-shadow-0-25), inset -100px 0 140px -100px var(--bleu-ciel);
    display: flex;
    align-items: center;

    justify-content: flex-start;
    gap: 2em;
    transition: all ease 500ms;
}

.main-fg section:nth-child(3) > div:last-child > div:hover {
    box-shadow: var(--drop-shadow-0-25), inset 100px 0 140px -100px var(--rouge);
}

.main-fg section:nth-child(3) > div:last-child > div:hover .hover-p {
    display: block;
}

.main-fg section:nth-child(3) > div:last-child > div:hover .base-p {
    display: none;
}

.hover-p {
    display: none;
}

.main-fg section:nth-child(3) > div:last-child > div > div {
    height: 5em;
    width: 6em;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}

.main-fg section:nth-child(3) > div:last-child > div img {
    height: 5em;
    width: 100%;

    object-fit: contain;

    filter: saturate(0) brightness(0.8) contrast(1.5);

    transition: transform 0.3s ease;
}

.main-fg section:nth-child(3) > div:last-child > div:nth-child(2) img {
    transform: scale(1.4);
}

.main-fg section:nth-child(3) > div:last-child > div p {
    margin: 0;
    text-align: left;

    flex: 1;

    font-family: var(--font-family-fredoka);
    font-weight: 100;
}

.note {
    position: relative;

    width: 17em;
    height: 17em;

    border-radius: 50%;
    background: conic-gradient(#15305B 0% 88%, transparent 88% 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto 2em;
}

.note::before {
    content: "";

    position: absolute;

    width: 14em;
    height: 14em;

    background-color: var(--white);
    border-radius: 50%;
}

.note span {
    position: relative;

    color: #15305B;
    font-family: var(--font-family-bedas);

    font-size: 5em;

    letter-spacing: 0.1rem;
    font-weight: 400;

    margin: 0;
    padding: 0;
}
.section-mouvement p {
    text-align: left;
    font-family: var(--font-family-fredoka);
    font-weight: 100;

    margin-bottom: 2em;
    padding: 0 1.5em;
}

.mouvement-images {
    display: flex;
    justify-content: space-between;

    gap: 1em;
    padding: 0 1.5em 1em;
}

.mouvement-images img {
    object-fit: cover;

    border-radius: var(--border-radius-bloc);

    width: 50%;
    height: auto;

    display: flex;
}

.mouvement-images img:nth-child(1) {
    flex: 2 1 70%;

}

.section-lieux {
    background: none !important; 
    box-shadow: none !important;
    padding: 0 !important;

    display: flex;
    flex-direction: column;

    gap: 3em;

    margin-bottom: 0 !important;
}

.section-lieux header {
    background-color: var(--white);
    padding: 2em;

    border-radius: var(--border-radius-bloc);

    box-shadow: var(--drop-shadow-0-25);


    text-align: left;

    height: 100%;
}



.section-lieux header p {
    font-family: var(--font-family-fredoka);
    font-weight: 100;

    margin: 1.5em;
}


.zigzag-container {
    position: relative;
    display: flex;

    flex-direction: column;
    width: 100%;
}

.lieu-card, .lieu-card-visite {
    background-color: var(--white);
    padding: 2em;

    border-radius: var(--border-radius-bloc);
    box-shadow: var(--drop-shadow-0-25);

    width: 65%;
}

.lieu-card:nth-child(n+3), .lieu-card-visite:nth-child(n+3) {
    margin-top: -5em;
}


.cercle-pointille {
    position: absolute;
    width: 20em;
    height: 20em;

    border-radius: 50%;
    border: 1em dashed var(--bleu);

    z-index: -1;
}

.cercles-visite > .cercle-pointille {
    border: 1em dashed var(--rouge);
}

.cercle-pointille:nth-child(1) {
    top: 6em;    
    left: 15em;
}

.cercle-pointille:nth-child(2) {
    top: 34em;    
    right: 15em;
}

.cercle-pointille:nth-child(3) {
    top: 55em;    
    left: 14em;
}

.cercle-pointille:nth-child(4) {
    top: 77em;    
    right: 16em;
}

.cercle-pointille:nth-child(5) {
    top: 100em;    
    left: 16em;
}

.cercle-pointille:nth-child(6) {
    top: 122em;    
    right: 15em;
}

.lieu-card:nth-child(even), .lieu-card-visite:nth-child(even) {
    margin-left: auto;
}

.lieu-card > div, .lieu-card-visite > div {
    display: flex;
    text-align: left;

    align-items: center;
    margin: 1em 0 0 1.5em;
    gap: 2em;

    text-wrap: wrap;
}


.zigzag-container h4 {
    text-align: left;
    color: var(--bleu);
    text-transform: uppercase;

    font-family: var(--font-family-nats);
    font-size: 1.9em;
    font-weight: 50;

    margin: 0;
    padding: 0;

    position: relative;

    margin-left: 1em;
}


.zigzag-container p {
    font-family: var(--font-family-fredoka);
    font-weight: 100;
    font-size: 1.3em;
    margin: 0;
}


.zigzag-container img {
    width: 35em;
    height: 18em;

    object-fit: cover;
    border-radius: calc(var(--border-radius-bloc) / 2);
}





.section-oeuvres {
    background: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin-top: 0 !important;

    display: flex;
    flex-direction: column;
}


.section-oeuvres > div:first-child {
    margin: 4em auto;
    padding: 2em;

    background-color: var(--white);
    border-radius: var(--border-radius-bloc);

    box-shadow: var(--drop-shadow-0-25);
    box-sizing: border-box;

    width: 100%;
}

.section-oeuvres > div:first-child p {
    margin: 1.5em;
}

.section-oeuvres p {
    text-align: left;
    font-family: var(--font-family-fredoka);
    font-weight: 100;
    margin-bottom: 2em;
}



.oeuvres-grid {
    display: flex;
    align-items: center;     
    justify-content: space-between; 

    flex-wrap: nowrap;       
    gap: 2em;    

    width: 100%;
    margin: 0 auto;
    padding: 2em 0;
}


.oeuvre-card {
    width: 28%; 
    
    background-color: var(--white);
    border-radius: var(--border-radius-bloc);
    box-shadow: var(--drop-shadow-0-25);
    padding: 1.5em;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

}


.oeuvre-card:nth-child(2) {
    height: 35em; 
    z-index: 2;   
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.oeuvre-card:nth-child(1), .oeuvre-card:nth-child(3) {
    height: 30em;

    opacity: 40%;
}

.oeuvre-card h4 {
    text-align: center;
    color: var(--bleu);

    text-transform: uppercase;
    font-family: var(--font-family-nats);

    font-size: 1.3em;
    line-height: 1.2em;

    font-weight: 50;
    margin: 0 0 1em 0;
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 0.5em; 
}

.oeuvre-card img {
    width: 100%;
    flex: 1; 
    height: 0; 
    object-fit: contain; 
}

.fleche-oeuvre {
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: var(--bleu);
    border-radius: 50%;
    box-shadow: var(--drop-shadow-0-5);
    z-index: 10;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    pointer-events: none;
    cursor: pointer;

    border: none;

    transition: all 0.3s ease;
    
}


.fleche-oeuvre::before {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;

    width: 1em;
    height: 1em;

    border-left: 5px solid var(--white);
    border-top: 5px solid var(--white);

    border-top-left-radius: 10%;
    
}



.oeuvre-card:nth-child(1) .fleche-oeuvre {
    opacity: 1 !important;
    pointer-events: auto;
}
.oeuvre-card:nth-child(1) .fleche-oeuvre::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}


.oeuvre-card:nth-child(2) .fleche-oeuvre {
    opacity: 0 !important;
    pointer-events: none;
}


.oeuvre-card:nth-child(3) .fleche-oeuvre {
    opacity: 1 !important;
    pointer-events: auto;
}
.oeuvre-card:nth-child(3) .fleche-oeuvre::before {
    transform: translate(-50%, -50%) rotate(135deg);
}


.fleche-oeuvre:hover {
    background-color: var(--bleu-ciel);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
    transform: translate(-50%, -50%) scale(1.1);
}




.main-fg > section:last-of-type {
    background: none !important; 
    box-shadow: none !important;
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 8em !important;
}

.main-fg > section:last-of-type div:nth-child(1) {
    margin: 4em auto;
    padding: 2em;

    background-color: var(--white);
    border-radius: var(--border-radius-bloc);
    box-shadow: var(--drop-shadow-0-25);
    box-sizing: border-box;
}

.main-fg > section:last-of-type p {
    text-align: left;
    font-family: var(--font-family-fredoka);

    font-weight: 100;

    margin-bottom: 2em;
    margin: 1.5em;
}

.main-fg > section:last-of-type div:nth-child(2) {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(35em, 1fr)); 
    gap: 1.5em;
}


.main-fg > section:last-of-type div:nth-child(2) img {
    width: 100%;
    height: 25em;
    object-fit: cover;

    border-radius: calc(var(--border-radius-bloc) / 2);

    box-shadow: var(--drop-shadow-0-25);
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.main-fg > section:last-of-type div:nth-child(2) img:hover {
    filter: brightness(1.1);
    transform: scale(1.01);
    box-shadow: var(--drop-shadow-0-5);
}