.main-fg {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}


.main-fg header {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/images/forrest-gump/fg-cours.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    margin: 0;
    padding-top: 30%;
}

.main-fg header div{
    text-align: center;
}

.main-fg header img {
    object-fit: cover;
}

.main-fg header div h1 {
    color: white;
    font-family: 'BEBAS';
    font-size: 80px;
    letter-spacing: 0.1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.main-fg header div h3 {
    color: white;
    font-family: 'BEBAS';
    font-size: 20px;
    letter-spacing: 0.05rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.main-fg section {
    margin: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}