.main-fg {
    margin-bottom: 70em;
}


.main-fg header {
    background-color: var(--bleu);
    height: 20em;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
}

.main-fg header img {
    object-fit: cover;
}

.main-fg header div {
    position: absolute;
}

.main-fg section {
    margin: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-fg img {
    width: 300px;
}