

.main-oeuvres header {
    background-color: var(--bleu);
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2em;
    padding-top: 4em;
}

.main-oeuvres header h1 {
    color: white;
    font-family: 'BEBAS';
    font-size: 80px;
    letter-spacing: 0.1rem;
    font-weight: 400;
    justify-self: flex-end;
    margin-top: 0;
}

.main-oeuvres header h3 {
    font-family: 'NATS';
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 50;
    margin: 0;
}



.main-oeuvres section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em 2em;
    margin: 4%;

}

.oeuvres-div {
    width: 40em;
    height: 40em;
    background-color: white;
    border-radius: var(--border-radius-bloc);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.oeuvres-div img {
    width: 100%;
    height: 22em;
    border-radius: var(--border-radius-bloc) var(--border-radius-bloc) 0 0;
    object-fit: cover;
    box-shadow: inset 0 0 20px rgb(255, 0, 0); /* Bug */
}

.oeuvres-div div p {
    width: 80%;
    text-align: left;
    font-family: 'FREDOKA';
    font-weight: 100;
    margin : 0;
}

.oeuvres-div div button {
    background-color: var(--bleu);
    width: 20em;
    height: 3em;
    border-radius: var(--border-radius-bloc);
    border: 0;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
    transition: all;
    transition-duration: 200ms;
}

.oeuvres-div div a {
    font-family: 'FREDOKA';
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    transition-duration: 200ms;
}

.oeuvres-div div button:hover {
    background-color: var(--bleu);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}

.oeuvres-div div button:hover a {
    font-size: 1.7em;
}



.oeuvres-div div h2 {
    width: 80%;
    text-align: left;
    color: var(--bleu);
    text-transform: uppercase;
    font-family: 'NATS';
    font-size: 2.5em;
    font-weight: 50;
    margin: 0;
}

.oeuvres-div div {
    width: 100%;
    height: 16em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    align-self: center;
}

