

.main-oeuvres header {
    background-color: var(--bleu);
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 2% 8% 2% 8%;
}

.main-oeuvres header h1 {
    color: white;
    font-family: 'BEBAS';
    font-size: 80px;
    letter-spacing: 0.1rem;
    font-weight: 400;
    justify-self: flex-end;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.main-oeuvres header h3 {
    font-family: 'NATS';
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 50;
    margin: 0;
}



.main-oeuvres section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em 2em;
    margin: 4% 8% 4% 8%;
}

.oeuvres-div {
    width: 35em;
    height: 35em;
    background-color: white;
    border-radius: var(--border-radius-bloc);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    transition: all;
    transition-duration: 300ms;
}

.oeuvres-div:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 5, 0.5);
}

.oeuvres-div:hover img {
    transform: scale(1.02);
}

.oeuvres-div img {
    width: 100%;
    height: 50%;
    border-radius: var(--border-radius-bloc) var(--border-radius-bloc) 0 0;
    object-fit: cover;
    overflow: hidden;

    transition-duration: 300ms;
}

#img-american-gothic {
    object-position: 50% 30%;
}

.oeuvres-div div p {
    width: 80%;
    text-align: left;
    font-family: 'FREDOKA';
    font-weight: 100;
    margin : 0;
}

.oeuvres-div div a {
    background-color: var(--bleu);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 12.5em;
    height: 2em;

    font-family: 'FREDOKA';
    color: white;
    text-decoration: none;
    font-size: 1.3em;

    border-radius: calc(var(--border-radius-bloc) / 2); 
    border: 0;
    box-shadow: 0 0px 5px var(--bleu);

    transition: all;
    transition-duration: 300ms;
}


.oeuvres-div div a:hover {
    background-color: white;
    color: var(--bleu);
    box-shadow: 0 0px 15px var(--bleu);
}



.oeuvres-div div h2 {
    width: 80%;
    text-align: left;
    color: var(--bleu);

    text-transform: uppercase;
    font-family: 'NATS';
    font-size: 2.5em;
    font-weight: 50;

    margin: 0;
    padding : 0;

    position: relative;
    margin-left: 1em;
}

.oeuvres-div div h2::before {
    background-color: var(--rouge-fonce);
    content: "";

    width: 10px;     
    height: 40px;

    position: absolute;
    left: -0.5em;
    top: 50%;
    transform: translateY(-50%);  
}

.oeuvres-div div {
    width: 100%;
    height: 16em;

    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    align-self: center;
    
    position: relative;
}

