:root {
    --bleu-fonce: #1C2F66;
    --bleu-deep: #1D3060;
    --bleu: #0A3D91;
    --bleu-ciel: #3e5fbf;
    --rouge-fonce: #BF0606;
    --rouge-deep: #A41015;
    --rouge: #cc0102;
    --background-gradient: linear-gradient(180deg, #f8f9fa 0%, #f0f0ff 50%);
    --bg-card: #FFF;
    --border-radius-bloc: 15px;

}

/*========== page tous les perso ==========*/

.all-link-personnages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.all-link-personnages div {
    background-color: var(--bg-card);
    margin: 30px;
    width: 400px;
    height: 600px;
    border-radius: var(--border-radius-bloc);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #0000002a;
    transition: box-shadow 0.5s ease;
}

.all-link-personnages div:hover {
    box-shadow: 0px 0px 20px #00000064;

    a {
        box-shadow: 0px 0px 20px #00000064;
    }
}

.all-link-personnages div img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-bloc) var(--border-radius-bloc) 0 0;
    object-position: top;
    box-shadow: inset 0 0 20px #00000040;

}

.all-link-personnages div a {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 120px;
    align-self: flex-end;
    margin-top: auto;
    text-align: center;
    background-color: var(--bleu);
    color: #FFF;
    text-decoration: none;
    box-shadow: 0px 0px 10px #0000002a;
    transition: box-shadow 0.5s ease;
}


.all-link-personnages h2 {
    color: var(--bleu);
    margin: 15px 0 0 15px;
    font-family: Helvetica, sans-serif;
    font-size: 2em;
}

.all-link-personnages p {
    color: #000000;

    margin: 15px 15px 0 15px;
}


/*========== page mlk ==========*/

#mlk header {
    background-image: url(/assets/images/personnages/background-mlk.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    height: 95vh;

}


#mlk header h1 {
    color: var(--bleu);
    background-color: rgba(255, 255, 255, 0.500);
    padding: 10px;
    box-shadow: 0px 0px 10px #0000002a;
    margin-right: auto;
    margin-left: 3%;
    width: 30%;
    border-radius: 10px;

}

#mlk header blockquote{
    color: var(--bg-card);
    position: absolute;
    right: 18%;
    top: 27%;
    width: 670px;
    font-size: 50px;
}

/* provisoir !!!! */

#mlk article, aside{
    background-color: #0A3D91;
}