/*.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 40px;
grid-row-gap: 40px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 4 / 3 / 5; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 2 / 2 / 3 / 3; }
.div8 { grid-area: 2 / 1 / 3 / 2; }
.div9 { grid-area: 3 / 1 / 4 / 2; }
.div10 { grid-area: 3 / 2 / 4 / 3; }
.div11 { grid-area: 3 / 3 / 4 / 4; }
.div12 { grid-area: 3 / 4 / 4 / 5; }


*/

:root {
    --bleu-fonce: #1C2F66;
    --bleu-deep: #1D3060;
    --bleu: #0A3D91;
    --bleu-ciel: #3e5fbf;
    --rouge-fonce: #BF0606;
    --rouge-deep: #A41015;
    --rouge: #cc0102;
    --background-gradient: linear-gradient(180deg, #f8f9fa 0%, #f0f0ff 50%);
    --bg-card: #FFF;
    --border-radius-bloc: 15px;

}

.all-link-personnages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.all-link-personnages div {
    background-color: var(--bg-card);
    margin: 30px;
    width: 400px;
    height: 600px;
    border-radius: var(--border-radius-bloc);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #0000002a;
    transition: box-shadow 0.5s ease;
}

.all-link-personnages div:hover {
    box-shadow: 0px 0px 20px #00000064;

    a {
        box-shadow: 0px 0px 20px #00000064;
    }
}

.all-link-personnages div img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-bloc) var(--border-radius-bloc) 0 0;
    object-position: top;
    box-shadow: inset 0 0 20px #00000040;

}

.all-link-personnages div a {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 120px;
    align-self: flex-end;
    margin-top: auto;
    text-align: center;
    background-color: var(--bleu);
    color: #FFF;
    text-decoration: none;
    box-shadow: 0px 0px 10px #0000002a;
    transition: box-shadow 0.5s ease;
}


.all-link-personnages h2 {
    color: var(--bleu);
    margin: 15px 0 0 15px;
    font-family: Helvetica, sans-serif;
    font-size: 2em;
}

.all-link-personnages p {
    color: #000000;

    margin: 15px 15px 0 15px;
}