
:root {
    --bg-color-article: rgb(255, 255, 255);
}

#mlk,
#personnages {
    cursor: default;
}
/*========== page tous les perso ==========*/
#personnages header {
    background-color: var(--bleu);
    height: 300px;
    padding-top: 40px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#personnages header h1 {
    font-family: var(--font-family-bedas);
    letter-spacing: 0.1rem;
    font-size: 4em;
    margin-top: 0;
    font-weight: 400;
}

#personnages header p {
    font-family: var(--font-family-alexandria);
    font-size: 1.5em;
}

#personnages>section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    /*margin: auto;*/
}

@media screen and (min-width: 1300px) {
    #personnages>section {
        width: 100%;
    }
}

#personnages>section div {
    background-color: var(--white);
    margin: 30px;
    width: 390px;
    height: 550px;
    border-radius: var(--border-radius-bloc);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #0000002a;
    overflow: hidden;
    transform: scale(1);
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

#personnages>section h2 {
    color: var(--bleu);
    /*margin: 15px 15px 0 15px;*/
    margin: 0;
    padding: 15px 15px 0 15px;
    font-family: var(--font-family-alexandria);
    font-size: 2em;
    background-color: var(--white);
    z-index: 2;
}

#personnages>section p {
    color: #000000;
    font-family: var(--font-family-fredoka);
    margin: 15px 15px 0 15px;

}

#personnages>section div img {
    width: 390px;
    height: 330px;
    object-fit: cover;
    object-position: top;
    border-radius: var(--border-radius-bloc) var(--border-radius-bloc) 0 0;
    box-shadow: inset 0 0 20px #00000040;
    transition: transform 0.5s ease;
}

#personnages>section div a {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 120px;
    align-self: flex-end;
    margin-top: auto;
    text-align: center;
    background-color: var(--bleu);
    color: var(--white);
    text-decoration: none;
    box-shadow: 0px 0px 10px #0000002a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Alexandria Regular', Arial, Helvetica, sans-serif;
}

/* --- HOVER --- */

#personnages>section div:hover {
    box-shadow: 0px 0px 20px #00000064;
    transform: scale(1.02);
}

#personnages>section div:hover img {
    transform: scale(1.05);
}

#personnages>section div:hover a {
    box-shadow: 0px 0px 20px #00000064;
}

#personnages>section div a:hover {
    transform: scale(1.07);
}

/*========== page mlk ==========*/
#mlk hr {
    width: 70%;
}

#mlk section p {
    font-size: 1.2em;
    line-height: 1.6;
}

#mlk h2 {
    position: relative;
    font-family: 'Alexandria Regular', sans-serif;
    font-size: 2em;
    margin: 0;
    padding-bottom: 15px;
    /*padding-left: 15px;*/
    color: var(--bleu-fonce);
    border-bottom: 3px solid var(--bleu-fonce);
}

#mlk header {
    background-image: url(/assets/images/personnages/background-mlk.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 55em;
    padding-top: 20px;

}

#mlk header h1 {
    color: var(--bleu);
    background-color: rgba(255, 255, 255, 0.500);
    padding: 10px;
    box-shadow: 0px 0px 10px #0000002a;
    margin-right: auto;
    margin-left: 3%;
    width: fit-content;
    border-radius: 10px;
    font-family: 'Alexandria Regular', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 4em;
}

#mlk header blockquote {
    color: var(--white);
    position: absolute;
    right: 18%;
    top: 9em;
    width: 670px;
    font-size: 35px;
    font-family: 'Caveat Regular', sans-serif;
    quotes: "«" "»";

    font-weight: bold;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

#mlk header ul {
    background-color: rgba(255, 255, 255, 0.500);
    backdrop-filter: blur(5px);
    position: relative;
    top: 14em;
    left: 4em;
    width: 500px;
    padding: 10px 20px 10px 20px;
    border-radius: var(--border-radius-bloc);
}

#mlk header ul li {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    color: var(--bleu);
    font-size: x-large;
    line-height: 2em;
    font-family: 'Alexandria Regular', sans-serif;

}

#mlk header ul li u {
    text-decoration-color: var(--rouge);
}

#mlk section,
#mlk aside {
    /*background-color: #ffffff;*/
    margin-top: 2%;
    /*
    padding: 30px 40px 40px 40px;
    */
    border-radius: var(--border-radius-bloc);
    font-family: var(--font-family-fredoka);
    margin: auto;
    width: 70%;
    /* !!! meme chose que bastien !!!*/
    margin-top: 50px;
    margin-bottom: 50px;

}

#mlk aside {
    padding: 30px 40px 30px 40px
}

/*=== biographie ===*/
#mlk section:first-of-type {
    min-height: 450px;
}


#mlk section,
#mlk aside{
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.5s ease-out;
}

#mlk section.appear,
#mlk aside.appear{
    opacity: 1;
    transform: translateX(0);
}


#mlk section:first-of-type figure {
    float: right;
    margin-left: 15px;
    width: 200px;
}

#mlk section:first-of-type figure img {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 900px) {
    #mlk section:first-of-type figure {

        margin-right: 15px;
        width: 100px;
        font-size: small;
    }

}

/*=== oeuvres ===*/

#mlk section:nth-of-type(2) img {
    width: 200px;
    border-radius: 10px;
}

#mlk section:nth-of-type(2) article {
    display: flex;
    margin-top: 20px;
}

/*articles livres */
#mlk section:nth-of-type(2)>article>div {
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: var(--border-radius-bloc);
    background-color: var(--bg-color-article);
    align-items: center;
    transition: transform 0.3s ease;
}

#mlk section:nth-of-type(2)>article>div:first-of-type {
    margin-right: 10px;
}

#mlk section:nth-of-type(2)>article>div:nth-child(2) {
    margin-left: 10px;
}

#mlk section:nth-of-type(2)>article>div:hover {
    transform: scale(1.03);
}

/*article film*/

#mlk section:nth-of-type(2) article img:first-of-type,
#mlk section:nth-of-type(2) article img:nth-child(2) {
    height: 13em;
    width: auto;
    float: left;
}

#mlk section:nth-of-type(2)>article:nth-of-type(2) {
    background-color: var(--bg-color-article);
    display: block;
    padding: 20px;
    border-radius: var(--border-radius-bloc);
    transition: transform 0.3s ease;

}

#mlk section:nth-of-type(2)>article:nth-of-type(2) img {
    align-self: center;
}

#mlk section:nth-of-type(2)>article:nth-of-type(2) img:nth-child(2) {
    margin-left: 10px;
    margin-right: 20px;
}

#mlk section:nth-of-type(2)>article:nth-of-type(2) p {
    margin-top: 0;
    margin-bottom: 0;
}

#mlk section:nth-of-type(2)>article:nth-of-type(2):hover {
    transform: scale(1.03);
}

@media screen and (max-width: 1050px) {
    #mlk section:nth-of-type(2) article {
        flex-direction: column;
        align-items: center
    }

    #mlk section:nth-of-type(2)>article>div:first-of-type {
        margin-right: 0;
    }

    #mlk section:nth-of-type(2)>article>div:nth-of-type(2) {
        margin-left: 0;
    }

    #mlk section:nth-of-type(2)>article>div {
        width: 90%;
        margin-bottom: 40px;
    }

    /*article film*/
    #mlk section:nth-of-type(2)>article:nth-of-type(2) {
        margin: auto;
        width: 90%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) {
    /* livres */
    #mlk section:nth-of-type(2)>div:nth-of-type(2) {
        flex-direction: column;
    }
    /*photo du film*/
    #mlk section:nth-of-type(2)>div:nth-of-type(2) img:first-of-type {
        display: none;
    }
}

/*=== activité ===*/

#mlk section:nth-of-type(3)>div {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}

#mlk section:nth-of-type(3) div>div {
    background-color: var(--bg-color-article);
    margin: 20px auto 20px auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-wrap: nowrap;
    border-radius: var(--border-radius-bloc);
    transition: transform 0.3s ease
}

@media screen and (max-width: 1420px) {
    #mlk section:nth-of-type(3) div>div {
        width: 450px;
    }
}

#mlk section:nth-of-type(3) div>div>img {
    align-self: center;
    width: 25em;
    height: 13em;
    /*height: 200px;*/
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-bloc);
}

#mlk section:nth-of-type(3) div>div:hover {
    transform: scale(1.05);

}

/*=== galerie ===*/

#mlk aside:first-of-type div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 20px;
    margin-top: 20px;
}

#mlk aside:first-of-type div img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    object-position: top;
    transition: all 0.5s ease ;
}

#mlk aside:first-of-type div img:hover {
    transform: scale(0.92);
    object-fit: contain;
    object-position: center;
}

