:root {
    --bg-card: #FFF;
}

body {
    display: block;
}

p {
    font-family: 'FREDOKA', Arial, Helvetica, sans-serif;
}

/*========== page tous les perso ==========*/
#personnages header {
    background-color: var(--bleu);
    height: 30%;
    padding-top: 40px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}


#personnages header h1 {
    font-family: 'BEBAS', Arial, Helvetica, sans-serif;
    font-size: 4em;
    margin-top: 0;
    font-weight: 400;
}

#personnages header p {
    font-family: 'Alexandria Regular', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.all-link-personnages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}


@media screen and (min-width: 1300px) {
    .all-link-personnages {
        width: 100%;
    }
}


.all-link-personnages div {
    background-color: var(--bg-card);
    margin: 30px;
    width: 390px;
    height: 550px;
    border-radius: var(--border-radius-bloc);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #0000002a;
    overflow: hidden;
    transform: scale(1);
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.all-link-personnages h2 {
    color: var(--bleu);
    /*margin: 15px 15px 0 15px;*/
    margin: 0;
    padding: 15px 15px 0 15px;
    font-family: 'Alexandria Regular', Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: var(--bg-card);
    z-index: 2;
}

.all-link-personnages p {
    color: #000000;
    font-family: 'FREDOKA', Arial, Helvetica, sans-serif;
    margin: 15px 15px 0 15px;
    font-size: 1.2em;
}

.all-link-personnages div img {
    width: 390px;
    height: 330px;
    object-fit: cover;
    object-position: top;
    border-radius: var(--border-radius-bloc) var(--border-radius-bloc) 0 0;
    box-shadow: inset 0 0 20px #00000040;
    transition: transform 0.5s ease;
}

.all-link-personnages div a {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 120px;
    align-self: flex-end;
    margin-top: auto;
    text-align: center;
    background-color: var(--bleu);
    color: #FFF;
    text-decoration: none;
    box-shadow: 0px 0px 10px #0000002a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Alexandria Regular', Arial, Helvetica, sans-serif;
}

/* --- HOVER --- */

.all-link-personnages div:hover {
    box-shadow: 0px 0px 20px #00000064;
    transform: scale(1.02);
}

.all-link-personnages div:hover img {
    transform: scale(1.05);
}

.all-link-personnages div:hover a {
    box-shadow: 0px 0px 20px #00000064;
}

.all-link-personnages div a:hover {
    transform: scale(1.07);
}

/*========== page mlk ==========*/
#mlk section article p {
    font-size: 1.5em;
}

#mlk section h2 {
    position: relative;
    padding-left: 15px;
    font-family: 'Alexandria Regular', sans-serif;
    font-size: 2em;
    margin: 0;
    margin-bottom: 20px;
}

#mlk section h2::before {
    margin: 0;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 30px;
    background-color: var(--rouge);
}


#mlk header {
    background-image: url(/assets/images/personnages/background-mlk.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 50em;
    padding-top: 20px;

}


#mlk header h1 {
    color: var(--bleu);
    background-color: rgba(255, 255, 255, 0.500);
    padding: 10px;
    box-shadow: 0px 0px 10px #0000002a;
    margin-right: auto;
    margin-left: 3%;
    width: 650px;
    border-radius: 10px;
    font-family: 'Alexandria Regular', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 4em;


}

#mlk header blockquote {
    color: var(--bg-card);
    position: absolute;
    right: 18%;
    top: 27%;
    width: 670px;
    font-size: 50px;
    font-family: 'Caveat Regular', sans-serif;
    quotes: "«" "»";
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

#mlk header ul {
    background-color: rgba(255, 255, 255, 0.500);
    backdrop-filter: blur(5px);
    position: relative;
    top: 14em;
    left: 4em;
    width: 500px;
    padding: 10px 20px 10px 20px;
    border-radius: var(--border-radius-bloc);
}

#mlk header ul li {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    color: var(--bleu);
    font-size: x-large;
    line-height: 2em;
    font-family: 'Alexandria Regular', sans-serif;

}

#mlk header ul li u {
    text-decoration-color: var(--rouge);
}


#mlk section {
    margin: auto;
    width: 90%;

}


#mlk section article,
#mlk section aside {
    background-color: #ffffff;
    margin-top: 2%;
    padding: 30px 40px 40px 40px;
    border-radius: var(--border-radius-bloc);
    font-family: 'FREDOKA', Arial, Helvetica, sans-serif;
}


/*=== biographie ===*/
#mlk section article:first-of-type {
    min-height: 450px;
}

#mlk section article:first-of-type figure {
    float: right;
    margin-left: 15px;
    width: 200px;
}

#mlk section article:first-of-type figure img {
    display: block;
    width: 100%;
    height: auto;
}

/*=== oeuvres ===*/

#mlk section article:nth-of-type(2) img {
    width: 200px;
    border-radius: 10px;
}

#mlk section article:nth-of-type(2) div {
    display: flex;
}



/*bloc du haut*/
#mlk section article:nth-of-type(2) div div {
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: var(--border-radius-bloc);
    background-color: rgb(239, 239, 239);

}

/*bloc du haut margin */
#mlk section article:nth-of-type(2) div div:first-of-type {
    margin-right: 10px;

}

#mlk section article:nth-of-type(2) div div:nth-child(2) {
    margin-left: 10px;

}

/*bloc du bas taille images*/

#mlk section article:nth-of-type(2) div img:first-of-type,
#mlk section article:nth-of-type(2) div img:nth-child(2) {
    height: 200px;
    width: auto;
    float: left;
}

#mlk section article:nth-of-type(2)>div:nth-of-type(2) {
    background-color: rgb(239, 239, 239);
    margin-top: 20px;
    display: flex;
    padding: 20px;
    border-radius: var(--border-radius-bloc);

}

#mlk section article:nth-of-type(2)>div:nth-of-type(2) img {
    align-self: center;
}

#mlk section article:nth-of-type(2)>div:nth-of-type(2) img:nth-child(2) {
    margin-left: 10px;
}

#mlk section article:nth-of-type(2)>div:nth-of-type(2) p {
    align-items: stretch;
    margin-left: 20px;
}

/*=== activité ===*/

#mlk section article:nth-child(3)>div {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}

#mlk section article:nth-child(3) div>div {
    background-color: rgb(239, 239, 239);
    margin: 20px auto 20px auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-wrap: nowrap;
    border-radius: var(--border-radius-bloc);

}




@media screen and (max-width: 1420px) {
    #mlk section article:nth-child(3) div>div {
        width: 450px;
    }
}

#mlk section article:nth-child(3) div>div>img {
    align-self: center;
    width: 25em;
    height: 13em;
    /*height: 200px;*/
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-bloc);
}



/*=== galerie ===*/
#mlk hr {
    height: 4px;
    background-color: var(--bleu);
    width: 90%;
    margin: 2% auto 0 auto;
    border-radius: 10px;
    border-style: none;
}

#mlk section aside {
    background-color: #fff;


}

#mlk section aside div {
    display: block
}

#mlk section aside div img {
    width: 22em;
    height: auto;
    object-fit: cover;
    object-position: top;
    gap: 2em;

}



/*aside credits*/

.popup-credit {
    background-color: #fff;
    position: fixed;
    right: -170px;
    bottom: 40px;
    transition: 0.3s;
    padding: 15px 15px 15px 10px;
    width: 190px;
    text-align: end;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    border-color: #696969;
    border-width: 2px;
    border-style: solid;


}

.popup-credit p {
    margin: 0;
    font-size: 18px;
    margin-left: -4px;
}

.popup-credit svg {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

.popup-credit:hover {
    right: -5px;

}