:root {
    --bg-card: #FFF;
}

/*========== page tous les perso ==========*/
#personnages header {
    background-color: var(--bleu);
    height: 200px;
    padding-top: 20px;
    color: white;
    text-align: center;
}

#personnages header h1 {
    font-family: 'BEBAS', Arial, Helvetica, sans-serif;
    font-size: 4em;
    margin-top: 0;
    font-weight: 400;
}

#personnages header p {
    font-family: 'Alexandria Regular', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.all-link-personnages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.all-link-personnages div {
    background-color: var(--bg-card);
    margin: 30px;
    width: 400px;
    height: 600px;
    border-radius: var(--border-radius-bloc);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #0000002a;
    transition: all 0.5s ease;
}

.all-link-personnages div:hover {
    box-shadow: 0px 0px 20px #00000064;

    a {
        box-shadow: 0px 0px 20px #00000064;
    }
}

.all-link-personnages div img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-bloc) var(--border-radius-bloc) 0 0;
    object-position: top;
    box-shadow: inset 0 0 20px #00000040;

}

.all-link-personnages div a {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 120px;
    align-self: flex-end;
    margin-top: auto;
    text-align: center;
    background-color: var(--bleu);
    color: #FFF;
    text-decoration: none;
    box-shadow: 0px 0px 10px #0000002a;
    transition: all 0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.all-link-personnages div a:hover {
    font-size: 1.1em;
}

.all-link-personnages h2 {
    color: var(--bleu);
    margin: 15px 0 0 15px;
    font-family: 'Alexandria Regular', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.all-link-personnages p {
    color: #000000;
    font-family: 'FREDOKA', Arial, Helvetica, sans-serif;
    margin: 15px 15px 0 15px;
    font-size: 1.2em;
}


/*========== page mlk ==========*/

#mlk header {
    background-image: url(/assets/images/personnages/background-mlk.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    height: 95vh;

}


#mlk header h1 {
    color: var(--bleu);
    background-color: rgba(255, 255, 255, 0.500);
    padding: 10px;
    box-shadow: 0px 0px 10px #0000002a;
    margin-right: auto;
    margin-left: 3%;
    width: 30%;
    border-radius: 10px;

}

#mlk header blockquote {
    color: var(--bg-card);
    position: absolute;
    right: 18%;
    top: 27%;
    width: 670px;
    font-size: 50px;
    font-family: 'Caveat Regular', sans-serif;
}

#mlk header ul {
    background-color: rgba(255, 255, 255, 0.500);
    backdrop-filter: blur(5px);
    position: relative;
    top: 400px;
    left: 60px;
    width: 500px;

    padding: 10px 20px 10px 20px;
    border-radius: var(--border-radius-bloc);
}

#mlk header ul li {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    color: var(--bleu);
    font-size: x-large;
    line-height: 2em;
    font-family: 'Alexandria Regular', sans-serif;

}

#mlk header ul li u {
    text-decoration-color: var(--rouge);
}

/* provisoir !!!! */

#mlk article,
aside {
    background-color: #0A3D91;
}