:root {
  --bleu-fonce: #1c2f66;
  --bleu-deep: #1d3060;
  --bleu: #0a3d91;
  --bleu-ciel: #3e5fbf;
  --rouge-fonce: #bf0606;
  --rouge-deep: #a41015;
  --rouge: #cc0102;
  --background-gradient: linear-gradient(180deg, #f8f9fa 0%, #f0f0ff 50%);
  --bg-card: #fff;
  --border-radius-bloc: 15px;
}

/*
#yellowstone-page {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}*/

/*----*/
#yellowstone-page header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: "BEBAS", sans-serif;
  font-size: 120px;
  color: var(--bg-card);
  text-shadow: 2px 5px 40px var(--bleu-fonce);
  height: 100vh;

  margin: 0;
  background-image: url("../assets/images/lieux/yellowstone-national-park.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
/*----*/
/*
#yellowstone-page header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "BEBAS", sans-serif;
  font-size: 120px;
  color: var(--bg-card);
  text-shadow: 2px 5px 40px var(--bleu-fonce);
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-image: url("../assets/images/lieux/yellowstone-national-park.png");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
*/
#yellowstone header {
  height: auto;
  margin-bottom: 50px;
}
/*
#yellowstone-page main {
  display: flex;
  flex-direction: column;
  width: 50%;
}*/


#yellowstone section{
  width: 55%;
}


#yellowstone p {
  font-family: "FREDOKA", sans-serif;
  font-size: 1.2em;
  color: var(--bleu-deep);
  line-height: 1.6;
}

#yellowstone li {
  font-family: "FREDOKA", sans-serif;
  font-size: 1.2em;
  color: var(--bleu-deep);
  line-height: 1.6;
}



#yellowstone h2 {
  font-family: "BEBAS", sans-serif;
  font-size: 40px;
  color: var(--bleu-fonce);
  border-bottom: 5px solid var(--bleu-fonce);
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-bottom: 50px;
}

#yellowstone h3 {
  font-family: "BEBAS", sans-serif;
  font-size: 32px;
  color: var(--bleu-deep);
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--bleu-fonce);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#frise-chronologique {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

#frise-section1,
#frise-section2 {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  height: 60em;
}

#frise-section2 {
  margin-top: 12em;
}

#frise-chronologique article {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 12em;
}

#frise-section1 article {
  justify-content: flex-end;
}

#frise-chronologique article h2 {
  font-family: "BEBAS", sans-serif;
  font-size: 2.6em;
  color: var(--rouge-deep);
  top: -50px;
  margin: 10px;
  border: none;
  padding: 0;
}

#frise-chronologique article p {
  width: 50%;
  font-family: var(--font-family-fredoka);
  /*font-size: 1em;*/
  line-height: 1.6;
  padding: 5px;
  margin: 0;
  color: var(--bleu-fonce);
  overflow: auto;
  background-color: var(--bg-card);
  border-radius: var(--border-radius-bloc);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#barre {
  height: 85em;
  border: 4px solid var(--bleu-fonce);
  border-radius: 10px;
  margin: 0 20px;
}

.point {
  width: 20px;
  height: 20px;
  background-color: var(--bg-card);
  border: 3px solid var(--bleu-fonce);
  border-radius: 50%;
  position: absolute;
}

#frise-section1 article .point {
  right: -37px;
}
#frise-section2 article .point {
  left: -37px;
}
/*
#biodiversite {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}*/

#biodiversite article {
  height: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

#biodiversite img {
  height: 40em;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-bloc);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.9s ease-in-out;
}

strong {
  font-weight: bold;
  color: var(--bleu); /* Une couleur bleu foncé pour mettre en valeur */
  font-style: italic; /* Optionnel, pour souligner davantage */
}

#carrousel {
  width: 100%;
  margin-top: 20px;
}

#carousel-image {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  border-radius: var(--border-radius-bloc);
  height: 600px;
  width: 100%;
  margin-bottom: 20px;
  background: var(--ta-couleur-de-fond, #eef);
  border: var(--bleu-deep) 4px solid;
  overflow: hidden;

}

#carousel-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: slide 20s infinite;


}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}

#mapid {
  position: relative;
  height: 800px;
  overflow: hidden;
}





#mapid aside {
  position: absolute;
  padding: 5%;
  width: 20%;
  height: 100%;
  background-color: var(--bleu-deep);
  z-index: 1;
  color: var(--bg-card);
  font-family: "FREDOKA", sans-serif;
  overflow-y: scroll;
  scrollbar-color: var(--bg-card) var(--bleu-deep);
  scrollbar-width: thin;
  border-radius: 10px;

}



#mapid aside h3 {
  text-align: center;
  font-family: "fredoka", sans-serif;
  font-size: 28px;
  color: var(--bg-card);
  border: none;
}

#mapid aside details {
  border: 1px solid var(--bg-card);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

#mapid aside details[open] {
  background-color: var(--bleu-fonce);
}

#mapid aside strong {
  color: #70a2ff;
}

#mapid img {
  height: 100%;
  width: 100%;
  margin-left: 10%;
  object-fit: cover;
  border-radius: 10px;

}

#mapid li  {
  color: var(--bg-card);
}

#activite div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

#activite article {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--bleu-deep);
  height: 45em;
  width: 45%;
  border-radius: var(--border-radius-bloc);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.7s ease-in-out;
  position: relative;
  margin-bottom: 5%;
}

#activite p {
  font-family: "FREDOKA", sans-serif;
  color: var(--bg-card);
  position: absolute;
  bottom: 10px;
  left: 5%;  
  width: 90%;
  opacity: 0;
  transition: all 0.9s ease-in-out;
} 

#activite img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-bloc);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.9s ease-in-out;

}

#activite article:hover img {
  transform: scale(1.05);
  filter: opacity(40%);
}

#activite article:hover p {
  opacity: 1;
}

#avis-container article{
  background-color: var(--bg-card);
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-bloc);
}

#conseils-pratiques{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

#conseils-pratiques article {
  width: 50%;
  flex: 1;
  flex-basis: 45%;
  background-color: var(--bg-card);
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-bloc);
}
