:root {
    --bleu-fonce: #1C2F66;
    --bleu-deep: #1D3060;
    --bleu: #0A3D91;
    --bleu-ciel: #3e5fbf;
    --rouge-fonce: #BF0606;
    --rouge-deep: #A41015;
    --rouge: #cc0102;
    --background-gradient: linear-gradient(180deg, #f8f9fa 0%, #f0f0ff 50%);
    --border-radius-bloc: 15px;

}


header {
    height: 60px;
}

header nav {
    font-family: 'NATS';
    color: var(--bleu-fonce);
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 2px solid var(--rouge);
    display: flex;
    align-items: center;
    font-size: 40px;
}

header nav ul {
    display: inline-block;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bleu-fonce);
}

header nav .left img {
    width: 80px;
    height: 80px;
}

header nav .right img {
    width: 28px;
    height: 28px;
}

header nav ul li.right:first-of-type {
    margin-left: auto;
}

header nav .right {
    float: right;
    margin: 0 30px 0 0;
}

header nav .left {
    float: left;
}